<html>
    <head>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

        <!--App-->
        <script src="../app/app.js"></script>                                    
        <script src="../app/config.js"></script>

        <script src="../app/services/address-service.js"></script>
        <script src="../app/services/city-service.js"></script>
        <script src="../app/services/company-service.js"></script>
        <script src="../app/services/country-service.js"></script>
        <script src="../app/services/employee-service.js"></script>
        <script src="../app/services/post-service.js"></script>
        <script src="../app/services/user-service.js"></script>
                                            
        <script src="../app/controllers/user.js"></script>        
    </head>
    <body ng-app="matchAJob" ng-controller="UserCtrl" ng-init="logout()">
        Logout...
    </body>
</html>